extends ./includes/_layout.pug
block var
  - metas = {}
  - metas.title = 'title'
  - metas.url = 'url'
  - metas.image = 'image'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
block append meta
  +meta(metas)
  include ./includes/_meta_facebook.pug
  +inc_meta_facebook(metas)
block title
  title
block body